.figureImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30em;
}

.figureImages figure {
   box-sizing: border-box;
   zoom: 50%;
   margin: 0% auto;
   transition: 0.6s;
}
.figureImages img {
    transform: scale(0.6);
    border: 8px solid whitesmoke;
    border-radius: 5px;
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
}

.figureImages figure:hover {
    transition: 0.5s;
transform: scale(2.0);
}